# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore the virtual environment
myenv/

# Debug logs
*.log

# Static files
static/*

# Local settings
wordian_project/settings.local.py