{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'styles/edit-setting.css' %}">
</head>

<body>
    <div class="form-frame">
        <form action="{% url 'update-setting' %}" class="setting-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="image-setting">
                <div class="image-frame">
                    <img src="{{ user_profile.profileimg.url }}" alt="" class="profile-picture">
                </div>
                <div class="image-upload">
                    <h1 class="username">@{{ user_profile.user.username }}</h1>
                    <label for="image">Change profile picture</label>
                    <input type="file" name="image" id="image">
                </div>
            </div>

            <div class="input-form">
                <label for="first">First Name</label>
                <input type="text" id="first" name="first" class="input-inside" value="{{ user_profile.first_name }}" required>
            </div>

            <div class="input-form">
                <label for="last">Last Name</label>
                <input type="text" id="last" name="last" class="input-inside" value="{{ user_profile.last_name }}" required>
            </div>

            <div class="input-form">
                <label for="email">Email</label>
                {% if user_profile.verified_email %}
                    <input type="email" id="email" name="email" class="input-inside" disabled value="{{ user_profile.email }}">
                {% else %}
                    <input type="email" id="email" name="email" class="input-inside" value="{{ user_profile.email }}" required>
                {% endif %}
            </div>

            <div class="input-form">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" class="input-inside"
                    value="{{ user_profile.location }}" required>
            </div>

            <div class="input-form">
                <label for="bio">Bio</label>
                <textarea name="bio" style="resize: none;" id="bio" cols="30" rows="10"
                    class="textarea-inside" required>{{ user_profile.bio }}</textarea>
            </div>

            <div class="input-form">
                <div>
                    <input type="hidden" name="username" value="{{ user_object.username }}">
                    <input type="hidden" name="initiated-email" value="{{ user_object.email }}">
                    <input type="submit" value="Save" class="submit-form">
                    <a href="{% url 'my-setting' pk=user_object.username %}" class="back-button">Back</a>
                </div>
                
            </div>
        </form>
    </div>


    <script>
        let inputImage = document.getElementById("image")
        let imageFrame = document.querySelector(".image-frame")
        

        let WIDTH = 400

        inputImage.addEventListener('change', (event) => {
            let image_file = event.target.files[0]
            
            let reader = new FileReader
            reader.readAsDataURL(image_file)

            reader.onload = (event) => {

                let image_url = event.target.result

                let image = document.createElement("img")
                image.src = image_url

                let currentImage = document.querySelector(".profile-picture")
                currentImage.remove()

                image.onload = (e) => {
                    let canvas = document.createElement("canvas")
                    let ratio = WIDTH / e.target.width
                    canvas.width = WIDTH
                    canvas.height = e.target.height * ratio

                    const context = canvas.getContext("2d")
                    context.drawImage(image, 0, 0, canvas.width, canvas.height)

                    let new_image_url = context.canvas.toDataURL("image/jpeg", 0.8)

                    let originalFilename = image_file.name;
                    let compressedFilename = `compressed_${originalFilename}`

                    let new_image = document.createElement("img")
                    new_image.src = new_image_url
                    new_image.classList.add("profile-picture")

                    imageFrame.appendChild(new_image)

                    // Convert compressed image back to file
                    dataURLtoFile(new_image_url, compressedFilename).then((file) => {
                        // Replace the original file input with the compressed file
                        event.target.files = [file];
                    });
                }

                
            }
        })

        // Function to convert data URL to File
        function dataURLtoFile(dataurl, filename) {
            return new Promise((resolve, reject) => {
                const arr = dataurl.split(',');
                const mime = arr[0].match(/:(.*?);/)[1];
                const bstr = atob(arr[1]);
                let n = bstr.length;
                const u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                resolve(new File([u8arr], filename, { type: mime }));
            });
        }
    </script>
</body>

</html>